<h2>Einnahmen/Ausgaben {{title}}</h2>
<button (click)="goBack()">go back</button>

<table class="kubeaRecords">
  <tr>
    <th>Datum</th>
    <th>Bezeichnung</th>
    <th>Betrag</th>
  </tr>
  <tr *ngFor="let kubea of kubeaRecords"
    [class.selected]="kubea === selectedKubEA">
    <td>{{kubea.datum | date: 'dd.MM.yy'}}</td>
    <td><a routerLink="/kubea/detail/{{kubea.id}}">{{kubea.kurz}}</a></td>
    <td class="wnfDM">{{kubea.betrag | currency: '€'}}</td>
  </tr>
</table>

<button (click)="goBack()">go back</button>
