html {
	font-size: 100%;
}
body,
input,
select,
textarea,
button,
table {
	font-size: 26px;
	line-height: 1.3;
	font-family: sans-serif /*{global-font-family}*/;
}

table {
  width: 100%;
  max-width: 800px;
	border: 1px solid black;
	border-collapse: separate;
	border-spacing: 10px;
	margin-bottom: 2em; /* Abstand zur nächsten Tabelle */
}

table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  color: #000000;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
td.wnfDM {
  white-space: nowrap;
  text-align: right;
}
td.table-3c-spalte3 {
  white-space: nowrap;
  text-align: right;
}
th.table-3c-spalte3 {
  white-space: nowrap;
  text-align: right;
}

td.table-right-currency {
  white-space: nowrap;
  text-align: right;
}

td.table-right-currency-red {
  white-space: nowrap;
  text-align: right;
  color: red;
}

th.table-right-currency {
  white-space: nowrap;
  text-align: right;
}
